.gh-content {
    position: relative;
    background: #84BE8F;
    width: 375px;
    height: 250px;
    overflow: hidden;
    display: grid;
    justify-content: center ;
}

.headerLines {
    position: absolute;
    width: 100%;
    pointer-events: none; 
    z-index: 0;
}

.gh-status-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    z-index: 1; 
    position: relative;
}


.clock-wrapper, .arrow-wrapper {
    padding: 10px 0 0 60px
}

.status-wrapper, .dots-wrapper {
    justify-self: end;
    padding: 10px 55px 0 0;
}

.status-wrapper img {
    padding: 2px;
}

.dots-wrapper img {
    padding: 5px;
 }

.gh-button {
    background: transparent;
    border: none;
    cursor: pointer;
}