.sectionHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -120px;
}

.h1 {
    font-size: 17px;
    font-weight: 700;
    margin-top: 15px;
}

.span {
    font-size: 12px;
    opacity: 0.7;
}

.h3 {
    font-size: 12px;
}

.wrapper {
    width: 60%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.div {
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.dot {
    width: 20px;
}

.sectionContent {
    color: #262628;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 1px 0px #0000000A;
    box-shadow: 0px 0px 2px 0px #0000000F;
    box-shadow: 0px 4px 8px 0px #0000000A;
}

.title {
    font-size: 16px;
    font-weight: 700;
}

.name {
    font-size: 12px;
    font-weight: 500;
}

.content {
    width: 90%;
    border-bottom: 1px solid #EFEFF0;
    padding: 20px;
    display: flex;
    cursor: pointer;
    z-index: 1;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentImage {
    width: 64px;
    height: 64px;
    border-radius: 12px;
    box-shadow: 0px 0px 1px 0px #0000000A;
    box-shadow: 0px 0px 2px 0px #0000000F;
    box-shadow: 0px 4px 8px 0px #0000000A;
}

.ratingDiv {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sectionAbout {
    width: 335px;
    height: 100vh;
    position: absolute;
    top: -80px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #FFFFFF;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    z-index: 1;
}

.h2 {
    font-weight: 700;
    font-size: 22px;
    color: #262628;
}

.p {
    color: #666666;
    font-size: 15px;
}

.small {
    font-size: 16px;
}

.contentAbout {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.openContentMain {
    display: flex;
    justify-content: space-between;
    border-bottom: #EFEFF0 1px solid;
    padding-bottom: 20px;
}

.sectionOpenContent {
    position: absolute;
    background: #FFFFFF;
    z-index: 1;
    width: 335px;
    padding: 20px;
    top: -220px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
}

.openContentHeader {
    display: flex;
    flex-direction: column  

}

.openContentWrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 5px;
    margin: 5px 0;
}

.borderLeft {
    border-left: #EFEFF0 1px solid;
    padding-left: 10px;
}

.closeButton {
    background: transparent;
    color: #4A7856;
    border: none;
    height: 30px;
    cursor: pointer;
}